/* =============================
   RESET GENERAL
   ============================= */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; /* fuerza que no haya scroll horizontal */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #0b0f17;
  color: #fff;
  min-height: 100vh;
  overflow-y: auto;   /* permite scroll vertical */
}

main {
  flex: 1;
  width: 100%;
  max-width: 1200px;  /* centrado para pantallas grandes */
  margin: 0 auto;
  padding: 0 16px;
}

h2 {
  color: #DAAD5C;
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

/*botone trailer*/
   .btn-trailer {
    flex: 1;
    padding: 8px 0;
    color: white;
    background-color: #1f6feb;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
  }


/* =============================
   RESPONSIVE
   ============================= */
@media (max-width: 1024px) {
  main {
    max-width: 100%;
    padding: 0 12px;
  }

  h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.95rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  main {
    padding: 0 10px;
  }
}
